h1 {
  font-family: "DM Serif Display", serif;
}
body {

}

.btn-info {
  background-color: transparent;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 2.6px;
  line-height: 19.5px;
  border-width: 2px;
  border-color: white;
  text-transform: uppercase;
  letter-spacing: .2em;



}
.bannerContainer {
    position:relative;
}
.carousel {
    position:absolute;
    top:0;
}
.navbar {
    position:absolute;
    width:100%;
}



.second-hero{
 width: 510px;
    height: 323px;
    vertical-align: middle;
    border-style: none;
    padding-top: 80px;
    padding-left: 80px;
    display: block;
    

  }
